* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
  width: 520px;
  height: 520px;
  border-radius: 100%;
  border: solid 10px #333;
  background-color: #333;
}

.playfield {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  margin: auto;
  height: 240px;
  width: 240px;
}

#red {
  background-color: red;
  border-top-right-radius: 100%;
}

#yellow {
  background-color: yellow;
  border-bottom-left-radius: 100%;
}
#green {
  background-color: green;
  border-top-left-radius: 100%;
}
#blue {
  background-color: dodgerblue;
  border-bottom-right-radius: 100%;
}

.cell.active {
  border: 6px solid orange;
}

.controls {
  position: absolute;
  border-radius: 100%;
  margin: 125px 0 0 125px;
  background: white  ;
  width: 250px;
  height: 250px;
  border: 12px solid #333;
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: red;
  border: 5px solid #333;
  outline: none;
}

.strictStatus {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: black;
  border: 2px solid black;
}
.strictStatus.on {
  background-color: red;
}

.button.yellow {
  background-color: yellow;
}

/*.controlButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}*/

.group {
  height: 80px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.label {
  font-size: .9em;
  margin: 10px;
}