.button {
  height: 60px;
  width: 60px;
  border: 2px solid black;
  margin: 10px
}

#red {
  background-color: red
}

#yellow {
  background-color: yellow
}
#green {
  background-color: green
}
#blue {
  background-color: dodgerblue
}

.playfield {
  display: flex;
  justify-content: left;
}

.button.active {
  border: 6px solid orange;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.strictButton {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: red;
  border: 2px solid darkgrey;
  outline: none;
}

.strictStatus {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: black;
  border: 3px solid black;
}
.strictStatus.on {
  background-color: yellow;
}
.strictName {
  margin: 0px;
}

.strictDiv {
  margin: 15px;
}